* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

section {
    width: 100%;
    height: 100%;
    background-color: rgb(24, 23, 23);
}


/* Edit Scroll Bar */
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Edit Scroll Bar */


/* ------- Navbar Starts Here ------- */
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
}

nav .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.6rem;
}

.left {
    display: flex;
    align-items: center;
}

nav .logo {
    padding-right: 1rem;
}

.logo img {
    width: 8rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1.1rem;
}

nav a {
    text-decoration: none;
    color: rgb(239, 239, 239);
    font-size: 1rem;
    font-weight: 600;
}

nav a:hover {
    color: white;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
}

nav .right {
    display: flex;
    padding-right: 1rem;
}

.right>div {
    display: flex;
}

.right>div i {
    color: rgb(239, 239, 239);
    font-size: 1.5rem;
    margin: 0 0.3rem;
    cursor: pointer;
    display: block;
}

.right .icon i {
    display: none;
}

/* ------- Navbar Ends Here ------- */


/* ------- Play Box Starts Here ------- */
.play-container{
    width: 100%;
    background-color: black;
}
.play-box {
    max-width: 1200px;
    height: 0;
    margin: 0 auto;
    border-radius: 0.5rem;
    transition: all 0.4s;
}

/* ------- Play Box Ends Here ------- */

/* -------- Banner Section Starts Here -------- */

.banner-text{
    position: absolute;
    top: 8rem;
    left: 4rem;
    color: white;
    z-index: 1;
}

.banner-text span{
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-text h4{
    padding-top: 2rem;
    font-size: 2.2rem;
    font-weight: 800;
}

.banner-text p{
    font-size: 1.3rem;
    max-width: 50%;
    padding-top: 1rem;
    font-weight: 600;
}

.banner-text button{
    padding: 0.4rem 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.play_btn:hover{
    background-color: white;
}

.info_btn{
    background-color: rgb(105, 103, 103);
    color: white;
    margin-left: 0.5rem;
}

.info_btn:hover{
    background-color: rgb(88, 86, 86);
}

/* -------- Banner Section Ends Here -------- */


/* -------- Hero Section Starts Here --------- */
.container h2 {
    margin: 1rem 1.5rem;
    color: white;
    font-weight: 600;
}

.container h2 span{
    color: rgb(242, 242, 242);
    font-size: 0.8rem;
    padding-left: 0.4rem;
}

.play-videos {
    display: flex;
    margin: 1rem;
    overflow-x: scroll;
    cursor: pointer;
}

.play-videos .v-cards {
    margin: 0.2rem 0.5rem;
}

.ep-title {
    color: rgb(237, 228, 228);
    font-weight: 500;
    padding: 0.2rem 0;
}

.v-cards:hover .ep-title{
    color: white;
}

/* -------- Hero Section Ends Here --------- */


/* --------- Footer Starts Here ---------- */
.footer .foot-content{
    max-width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.foot-content h1{
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
}

.foot-content p{
    font-size: 1.5rem;
    text-align: center;
}

.footer .foot-content button{
    background-color: rgb(234, 12, 12);
    color: white;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    margin: 1.8rem 0;
}

.footer .foot-content button:hover{
    background-color: red;
}

.footer {
    background-color: rgb(22, 20, 20);
    padding: 2rem 6rem;
    color: #cac1c1;
}

.footer h2 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row .col {
    display: flex;
    flex-direction: column;
    padding: 1rem 0px;
}

.footer .row .col a {
    margin-bottom: 15px;
    text-decoration: underline;
    color: #c8c2c2;
    font-weight: 500;
}

.footer button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    background-color: #151414;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(250, 242, 242);
    cursor: pointer;
}

.footer p {
    margin-top: 1.5rem;
}

#foot_s {
    color: red;
    font-weight: 600;
}

/* --------- Footer Ends Here ---------- */



/* --------- Media Quaries --------- */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-text{
        top: 8rem;
        left: 3rem;
    }

    .banner-text span{
        font-size: 2.9rem;
    }
    
    .banner-text h4{
        padding-top: 1.6rem;
        font-size: 1.7rem;
    }
    
    .banner-text p{
        font-size: 1.2rem;
    }

    .banner-text button{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .banner-text{
        top: 7rem;
        left: 3rem;
    }

    .banner-text span{
        font-size: 2.5rem;
    }
    
    .banner-text h4{
        padding-top: 1.3rem;
        font-size: 1.4rem;
    }
    
    .banner-text p{
        font-size: 1.1rem;
    }

    .banner-text button{
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .banner-text{
        top: 6rem;
        left: 2rem;
    }

    .banner-text span{
        font-size: 2rem;
    }
    
    .banner-text h4{
        padding-top: 0.6rem;
        font-size: 0.9rem;
    }
    
    .banner-text p{
        font-size: 0.8rem;
        padding-top: 0.3rem;
    }

    .banner-text button{
        font-size: 0.8rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
    }
}


@media screen and (max-width: 850px) {
    .right>div i {
        display: none;
    }

    .right .icon i {
        display: block;
        z-index: 3;
    }

    .navbar {
        position: relative;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 4.1rem;
        left: 0;
        background-color: rgb(45, 42, 42);
        padding: 0.5rem 1.4rem 0.7rem 1.4rem;
        height: auto;
        overflow: hidden;
        z-index: 2;
        border-radius: 0.7rem;
        display: none;
    }

    nav ul li {
        padding: 0.3rem 0;
    }

    .upper-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
    }

    nav ul li {
        margin: 0.2rem 0;
    }

    .foot-content h1{
        font-size: 2.2rem;
    }
    .foot-content p{
        font-size: 1.2rem;
    }
    .footer .foot-content button{
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 576px) {
    nav .navbar {
        padding: 0 0.4rem;
    }

    nav ul {
        top: 3.6rem;
    }

    .banner-text{
        top: 4.5rem;
        left: 1rem;
    }

    .banner-text span{
        font-size: 1.5rem;
    }
    
    .banner-text h4{
        padding-top: 0.3rem;
        font-size: 0.6rem;
        font-weight: 500;
    }
    
    .banner-text p{
        font-size: 0.6rem;
        padding-top: 0.2rem;
        max-width: 60%;
    }

    .banner-text button{
        font-size: 0.9rem;
        margin-top: 0.4rem;
        padding: 0.3rem 0.7rem;
    }
}


@media screen and (max-width: 750px) {
    .footer {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 680px) {
    .footer .row {
        display: flex;
        flex-direction: column;
    }

    .footer {
        padding: 2rem 2rem;
    }

    .foot-content h1{
        font-size: 2rem;
    }
    .foot-content p{
        font-size: 1rem;
    }
    .footer .foot-content button{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}


@media screen and (max-width:490px) {
    .container h2 {
        margin: 1rem 1rem;
    }

    .container h2 span{
        display: none;
    }

    .play-videos {
        display: flex;
        flex-direction: column;
    }

    .play-videos .v-cards {
        margin: 0.2rem auto;
    }

    .v-cards img {
        width: 100vw;
    }

    .ep-title {
        padding: 0.2rem 0 1.5rem 0;
    }

    .footer h2 {
        font-size: 1.1rem;
    }

    .footer a {
        font-size: 0.9rem;
    }

    .footer button {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }

    .foot-content h1{
        font-size: 1.5rem;
    }
    .foot-content p{
        font-size: 0.9rem;
    }
    .footer .foot-content button{
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}
